
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: white;
  text-align: center;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}


.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.feature {
  flex: 1 1 200px;
  margin: 20px;
  text-align: center;
}

.feature img {
  max-width: 100px;
  margin-bottom: 10px;
}

.feature h2 {
  color: #2c3e50;
  margin: 10px 0;
}

.feature p {
  color: #7f8c8d;
}
